.link {
  width: 70px;
  height: 70px;
}

.link:hover path {
  fill: #27a331;
}

.link-2 {
  width: 70px;
  height: 70px;
}



.link-2:hover path[fill-rule] {
  fill: #27a331;
}

.link-2:hover circle,
.link-2:hover rect,
.link-2:hover line,
.link-2:hover path,
.link-2:hover ellipse {
  stroke: #27a331;
}

.link-3 {
  display: block;
  width: 67px;
  height: 67px;
  background-color: #666666;
  -webkit-mask: url("icon4.svg") no-repeat center / 100% 100%;
  mask: url("icon4.svg") no-repeat center /  100% 100%;
}

.link-3:hover {
  background-color: red;
  -webkit-mask: url("icon4.svg") no-repeat center / 100% 100%;
  mask: url("icon4.svg") no-repeat center / 100% 100%;
}