.modal {
  position: fixed;
  inset: 0;
  z-index: 10;
  background: #00000071;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  transition: var(--transition);
}
.oder-call {
  opacity: 0;
	visibility: hidden;
}

.body--opened-coll {
  position: fixed;

}

.body--opened-coll .oder-call {
	opacity: 1;
	visibility: visible;
}

.modal__window {
  width: 522px;
  padding: 36px;
  background: #f9fafb;
  position: relative;
}

.modal__cansel {
  display: flex;
  align-items: end;
  position: absolute;
  top: 46px;
  right: 36px;

  font-weight: 700;
  font-size: 13px;
  line-height: 1.54;
  text-transform: uppercase;
  color: #3f464e80;
}



.modal__top {
  border-bottom: 1px dashed #c4c4c47a;
  padding-bottom: 27px;
  margin-bottom: 23px;
}

.modal__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: uppercase;
  color: var(--second-color);
  margin-bottom: 15px;
}

.modal__text {
  font-size: 16px;
  line-height: 100%;
  color: var(--second-color);
  max-width: 240px;
}

.modal__form {}

.modal__label {
}

.modal__label span {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: #222f3cbf;
  margin-bottom: 15px;
}

.modal__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 10px;
  border-bottom: 1px dashed #c4c4c47a;
  padding-bottom: 27px;
  margin-bottom: 23px;
}

.modal__form-input {
  display: block;
  background: #fff;
  border-radius: 3px;
  padding: 12px;
  width: 100%;
}

.modal__form-text {
  grid-column: 1 / -1;
}

.modal__form-input::placeholder {
  font-size: 14px;
  line-height: 1.14;
  color: #7987978c;
}

.modal__comment {
  border-radius: 3px;
  padding: 12px;
  width: 100%;
  height: 60px;
  margin-bottom: 15px;
  resize:none;
}

.modal__comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  color: #7987978c;
}

.modal__bot {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.modal__approval {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #3f464e80;
  max-width: 250px;
}


.modal__button {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 14px;
  line-height: .93;
  text-transform: uppercase;
  color: #fff;
  max-width: 111px;
}