.quiz-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  box-shadow: 0 4px 10px 0 #66666640;
  background: #fafafa;
  padding: 40px 15px;
}


.quiz-section__title {
  margin-bottom: 30px;
}


.quiz-container {
  width: 80%;
  max-width: 600px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 0 25px;
  position: relative;
}

.quiz-container__info {
  display: flex;
  align-items: center;
  gap: 5px;

  padding: 20px 0;

  font-size: 14px;
  line-height: 1.14;

  border-bottom: 1px solid #6666665e;
  margin-bottom: 20px;
}

.quiz-container__info img {
  width: 14px;
  max-height: 22px;
  flex-shrink: 1;
}

.question {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.quiz-section__bot {
  display: flex;
  gap: 30px;
  align-items: end;
  padding: 20px 0 30px;
  border-top: 1px solid #6666665e;
}

.quiz-section__inner {
  width: 100%;
}

.quiz-section__progress {
  display: flex;
  align-items: end;
  gap: 7px;

  font-size: 12px;
  line-height: 1.14;
  margin-bottom: 10px;

}

#progress-percent {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--second-color);
}

/* Кнопки управления */
.navigation-buttons {
  display: flex;
  gap: 20px;
  text-align: center;
  margin-top: 20px;
}

.navigation-buttons button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--second-color);
  color: white;
}

#submit {
  display: none;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--second-color);
  color: white;
}


/* Шкала прогресса */
#progress-container {
  max-width: 350px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  /* position: relative; */
}

#progress-bar {
  width: 0;
  height: 4px;
  background-color: var(--second-color);
  transition: width 0.3s;
}


/* Стили для слайдера */
.quiz {
  width: 100%;
  height: 200px;
  margin: 20px 0;
}

.quiz-slide img {
  width: 140px;
  height: 95%;
  display: block;
  margin: 0 auto;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.quiz-slide img.selected {
  border-color: #4CAF50;
}

.gallery-nav__next,
.gallery-nav__prev {
  background: #fafafa;
	cursor: pointer;
	border-radius: 50%;
	border: 1.50px solid var(--second-color);
	flex-shrink: 0;
	width: 36px;
	height: 36px;
	display: flex;
	justify-content: center;
  position: absolute;
}

.gallery-nav__next svg,
.gallery-nav__prev svg {
  margin-top: 12px;
}

.gallery-nav__next {
  transform: rotate(90deg);
  top: 45%;
  right: 1%;
  z-index: 1;
}

.gallery-nav__prev {
  transform: rotate(-90deg);
  top: 45%;
  left: 1%;
  z-index: 1;
}

.gallery-nav__prev.swiper-button-disabled {
  display: none;
}


/* Пагинация и кнопки слайдера */
.swiper-pagination-progressbar {
  background-color: #e0e0e0;
}

.quiz-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal {
  top: 87%; 
  margin-top: 20px;
}

.swiper-pagination-progressbar-fill {
  background-color: #4CAF50;
}



